.update-portal-box label {
    color: #000;
    font-size: 15px;
}

.update-portal-box select {
    border: 1px solid #1F8505;
    padding: 7px 4px;
    font-size: 14px;
    border-radius: 4px;
    width: 100%;
}

.or-text-update-portal {
    color: #343933;
    font-weight: 500;
}

.update-portal-search-box label {
    color: #1F8505;
    font-weight: 500;
    margin-bottom: 6px;
    margin-left: 16px;
    font-size: 16px;
}

.update-portal-search-box input {
    padding: 5px 20px;
    border: 1px solid #1F8505;
    border-radius: 5px;
    color: #000;
    outline: none;
    width: 42%;
}

.search-icon-upp {
    position: absolute;
    top: 9%;
    left: 39%;
}

.update-portal-page-button-box button {
    outline: none;
    border: none;
    background: #1F8505;
    color: #fff;
    padding: 2px 9px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}

.update-portal-page-button-box button:disabled {
    background: #747474;
}

.update-portal-btns-box {
    display: flex;
    justify-content: center;
    gap: 4rem;
}


.update-portal-btn {
    padding: 6px 50px;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 8px;
}


.update-btns-clear {
    background: #40444C;
}

.update-btns-save {
    background: #66BB6A;
}

.update-btns-submit {
    background: #1F8505;
}

.bulk-uploud-item-name {
    color: rgba(64, 68, 76, 1);
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.bulk-up-file-name {
    background: rgba(182, 186, 195, 1);
    padding: 7px 16px;
    border-radius: 5px;
    color: rgba(64, 68, 76, 1);
    font-size: 13px;
}

.bulk-uploud-download-btn {
    padding: 8px 12px;
    background-color: rgba(31, 133, 5, 1);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
}

.bulk-uploud-upload-btn {
    padding: 8px 12px;
    background-color: rgba(64, 68, 76, 1);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

#search-suggest-box {
    z-index: 1000;
    position: absolute;
    top: 101%;
    /* box-shadow: 0px 0px 50px #000; */
    border-radius: 10px;
    height: 300px;
    overflow-y: auto;
}

#search-suggest-box .list-group {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .update-portal-search-box input {
        width: 49%;
        padding: 8px 20px;
    }

    .search-icon-upp {
        top: 14%;
        left: 44%;
    }

    .update-portal-btns-box {
        gap: 2rem;
    }

    .update-portal-btn {
        padding: 4px 25px;
    }
}

@media screen and (max-width: 576px) {
    .update-portal-search-box input {
        width: 80%;
    }

    .search-icon-upp {
        left: 74%;
    }

    .filter-btn-box {
        justify-content: center;
    }
}

@media screen and (max-width: 425px) {
    .update-portal-search-box input {
        width: 100%;
    }

    .search-icon-upp {
        left: 91%;
    }

    .update-portal-btns-box {
        gap: 1rem;
    }

    .filter-btn-box button {
        width: 100%;
    }
}