.color-headline {
    color: #1F8505;
}


.save-change-btn {
    background-color: #1F8505;
    color: #fff;
    padding: 6px 35px;
    outline: none;
    border: none;
    border-radius: 8px;
}

.disabled-save-btn {
    background-color: #8b8b8b;
    cursor: not-allowed;
}
.mrg-in{
    margin-right: 5rem;
}

@media (max-width:560px) {
    .mrg-in{
        margin-right: 10px;
    }
}