.order-section-page {
    height: 100vh;
}

.order-status-box {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    justify-content: center;
    align-items: center;
    background: #B6BAC3;
    font-weight: 700;
    border-radius: 10px;
    height: auto;
    padding: 18px 5px;
    cursor: pointer;
}

.order-status-box.active {
    background-color: #1F8505;
}

.order-status-box p {
    color: black;
    font-size: 14px;
}

.order-status-indecator {
    position: absolute;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    top: 7%;
    right: 3%;
}

.badri {
    justify-content: center;
}

/* Status badges */
.status-badge {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
}



.status-badge.packed {
    color: #1F8505;
}

.status-badge.order-details {
    color: #e90404;
}

/* Download button styling */
.btn-outline-primary {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0.25rem 0.5rem;
}

.text-muted {
    color: #6c757d !important;
}

#my-button {
    background: #1F8505;
    color: #fff;

}

.order-details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}



@media (max-width:768px) {
    .order-status-box p {
        font-size: 13px;
    }
}

@media (max-width:425px) {
    .order-status-box p {
        font-size: 11px;
    }

    .order-status-box {
        width: 24%;
        padding: 6px 4px;
    }
}