.order-status-box-one {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    justify-content: start;
    /* background: #B6BAC3; */
    font-weight: 700;
    border-radius: 10px;
    height: auto;
    padding: 18px 5px;
    cursor: pointer;
    /* border: 1.6px solid #1F8505; */
    box-shadow: 0px 0px 9px #1F8505;
    color: #1F8505;
    transition: 0.2s linear;
}

.order-status-box-one:hover {
    background: #1F8505;

}

.order-status-box-one:hover .order-status-box-one-text {
    color: #fff;
}

.order-status-box-one:hover .home-count {
    color: #fff;
}

.home-count {
    font-size: 20px;
    position: absolute;
    bottom: 1%;
    right: 4%;
    color: #c60d0d;
}

.pay-over-table-filter-select-btn {
    background: #1F8505;
    color: #fff;
    outline: none;
    border: none;
    padding: 5.3px 15px;
    font-weight: 500;
    border-radius: 4px;
}


.pay-over-table-filter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 9px;
}

.pay-over-table-filter-box input {
    outline: none;
    border: 1.6px solid #1F8505;
    padding: 3.4px 2px;
    color: #1F8505;
    font-weight: 500;
    border-radius: 4px;
}

.p-text-color {
    color: #1F8505;
}

.my-coust-btn {
    /* padding: 10px 10px; */
    background: #1F8505;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 4px 27px;
}

.first-sec {
    border-bottom: 2px solid #747373;
}

.payment-overview-container {
    border-right: 2px solid #747373;
}

.loction-header {
    margin-top: 0.5rem;
}

.order-status-box-one-text {
    color: #1F8505;
    font-size: 14px;
}

.home-select-disable {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
}

@media (max-width:768px) {
    .order-status-box-one p {
        font-size: 13px;
    }

    .payment-overview-container {
        border-right: none;
        padding-bottom: .5rem;
        border-bottom: 2px solid #000;
    }

    .loction-header {
        margin-top: 0.7rem;
    }
}

@media (max-width:425px) {
    .order-status-box-one p {
        font-size: 11px;
    }

    .order-status-box-one {
        width: 24%;
        padding: 6px 4px;
    }
}